*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 640px) {
    .nav-bar .cross-nav{
        display: none;
    }
    
    .demo .shop_container{
        display: none;
    }
    .demo .search_box{
        display: none;
    }
    .container{
       flex-direction: column;
       row-gap: 20px;
       padding: 30px;
    }
    
   
}
.nav-bar{
    width: 100%; 
    height: 100%;  
    background: black; 
    display: flex;
    text-align: center;
    justify-content: center;
    color: white; 
    padding-top: 9px; 
    padding-bottom: 9px; 
    background: black; 
    gap:5rem;    
}
.cross-nav{
    padding-top: 1rem;
}
.demo{
    width: 100%; 
    gap: 30px; 
    display: inline-flex 
}
.demo .line{
    display: none;
    display: flex;
    text-align:start;
    justify-content: flex-start;
}
.hide{
    display: none;
}
.slider { 

   
    
}
.slider-flex{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
    padding:5px ;
    width: 20%;
    border-radius: 20px; 
    height: 100%;  
    overflow: hidden; 
    border: 1px rgba(0, 0, 0, 0.10) solid; 
}

/* .show-slider{
    transform: translate(0%) !important;
} */
.shop{
    color: black; 
    font-size: 32px; 
    font-family: Integral CF; 
    font-weight: 700; 
    padding-top: 5px;
    word-wrap: break-word
}
.shop_container{
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px; 
    display: flex
}
.abc{
    display: flex; 
    justify-content: space-between;
}
.search_box{
    flex: 1 1 0;   
    padding-top: 12px; 
    padding-bottom: 12px; 
    background: #F0F0F0; 
    border-radius: 62px; 
    overflow: hidden; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 12px; 
    display: flex
}
.flex_row{
    gap: 10px;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}
.profile{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 5px; 
    display: flex;
    padding-top: 10px;
}
.container{
    display: flex;
    height: 100%;
    column-gap: 100px;
    padding: 50px;
}
.dhanu{
    display: none;
}
.box1{
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.60);
    padding: 10px;
}
.box2{
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.60);
    padding: 10px;
}
.box3{
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.60);
    padding: 10px;
}
.box4{
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.60);
    padding: 10px;
}

#box4{
    height: 20rem;
    grid-area: 1/2/4/3;
}
.div1{
    display: flex;
    height:100%;
    gap: 1rem;
}
.col-1{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.b1{
    color: black;
    font-size: 20px; 
    font-family: Satoshi; 
    font-weight: 700; 
    word-wrap: break-word;
}
.b2{
    color: black; 
    font-size: 14px;
    font-family: Satoshi; 
    font-weight: 400; 
    word-wrap: break-word"
}
.b3{
    color: grey; 
    font-size: 14px; 
    font-family: Satoshi; 
    font-weight: 400; 
    word-wrap: break-word
}
.image-1{
    height: 100%;
}
.inc{
    width: 6rem; 
    height: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
    background: #F0F0F0; 
    border-radius: 62px; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    display: flex
}
.div2{
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div3{
    padding: 10px;
    width: 100%;
   display: flex; 
    justify-content: space-between;
}
.go-to-check{
    width: 100%;
    padding: 10px;

}
.child-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}